.image-wrapper {
  	margin: 0px;
  	width: 100%;
  	margin-top: 20%;
  	height: auto;
  	outline: dashed 0px black;
  /* Center vertically and horizontally */
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.image {
  	width: 567px;
  	height: 99px;
  	background-color: white;
}

.contact-us {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	text-decoration: none;
	margin-top: 20px;
	padding: 25px;
	display: flex;
	justify-content: center;
}

.contact-us a {
	color: #999;
	text-decoration: none;
}

.contact-us a:hover {
	color: red;
}

